/* formato de letras */
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@300;400;500;700&display=swap');

/* sector de los parametros generales */
* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #7A93AC;
    display: flex;
    font-family: 'Lobster', cursive;
}

/* sector de la imagen */
.imagen-bienvenida {
    background-color: #7A93AC;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 500px;
    background-size: cover;
}

.texto-inicio {
    color: white;
    z-index: 10;
    position: absolute;
}

.image-logo {
    background-size:cover;
    Width: 100vw;

}
/* sector del formulario */
.contenedor {
    background-color: #7A93AC;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 30px;
    width: 500px;
}

/* sector de los botones */
.texto-formulario {
    color: #171A21;
}
.boton {
    align-self: center;
    display: flex;
    gap: 20px;

}
/*boton google*/
.boton-google {
    background-color: #1A73E8;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
    
}


.texto-google {
    color: whitesmoke;
    font-weight: 500;
    padding: 15px;
    font-family:'Ubuntu', sans-serif;
}

.boton-google :hover {
    opacity: 0.50;
}

/* boton twitter*/
.boton-twiter {
    background-color: #0D99F0;
    border: none;
    border-radius: 5px;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 2px;
    cursor: pointer;
}

.texto-twiter {
    color: whitesmoke;
    font-weight: 500;
    padding: 15px;
    font-family: 'Ubuntu', sans-serif;
}

.boton-twiter:hover {
    opacity: 0.50;

}

/* sector de separadores*/
.separador {
    display: flex;
    width: 100%;
    gap: 15px;
}

.separador hr {
    flex-grow: 1;
    border: none;
    border-top: 1px solid #171A21;
}

.separador span {
    color: #171A21;
}

/* sector de formulario */

.texto-formulario1 {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
}

label {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

